extends layout

block content
  h3 APIs
  div
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#proxy', aria-controls='proxy', role='tab', data-toggle='tab') Proxy 중개
      li(role='presentation')
        a(href='#parity', aria-controls='parity', role='tab', data-toggle='tab') Parity-Proxy 패리티 중개
      li(role='presentation')
        a(href='#realtime', aria-controls='realtime', role='tab', data-toggle='tab') Real-time 실시간
      li(role='presentation')
        a(href='#webtojson', aria-controls='webtojson', role='tab', data-toggle='tab') Web to Json 웹 데이터
    .tab-content
      #proxy.tab-pane.active(role='tabpanel')
        h3 Proxy APIs web3.eth 중개 API 목록
        | ex) #[strong http://!{hostname}/api_proxy/eth_blockNumber]
        table.table
          thead
            tr
              th Origin
              th Parameter
              th Example
          tbody
            tr
              td web3.eth.getBalance(
                br
                | addressHexString 
                br
                | [, defaultBlock]
              td #[strong addressHexString]: Hex, 
                br
                | #[strong defaultBlock](Optional): Number
              td /eth_balance/0x5811590907050746b897efe65fea7b65710e1a2c/1522934
            tr
              td web3.eth.getBlockNumber
              td none
              td /eth_blockNumber
            tr
              td web3.eth.getBlock(
                br
                | blockHashOrBlockNumber 
                br
                | [, returnTransactionObjects]
              td #[strong blockHashOrBlockNumber]: Hex or Number, 
                br
                | #[strong returnTransactionObjects]: true or false
              td /eth_getBlockByNumber/1522660/false
            tr
              td web3.eth.getUncle(
                br
                | blockHashStringOrNumber, 
                br
                | uncleNumber 
                br
                | [, returnTransactionObjects]
              td #[strong blockHashOrBlockNumber]: Hex or Number, 
                br
                | #[strong uncleNumber]: Number,
                br
                | #[strong returnTransactionObjects]: true or false
              td /eth_getUncleByBlockNumberAndIndex/1522579/0/false
            tr
              td web3.eth.getBlockTransactionCount(
                br
                | blockHashOrBlockNumber
              td #[strong blockHashOrBlockNumber]: Hex or Number
              td /eth_getBlockTransactionCountByNumber/1522660
            tr
              td web3.eth.getTransaction(
                br
                | transactionHash
              td #[strong transactionHash]: Hex
              td /eth_getTransactionByHash/0x6fd1bb5a71d16ad342ac9f8d86c299ce768eec0bafede55d7b7a9e82d816942a
            tr
              td web3.eth.getTransactionFromBlock(
                br
                | blockHashOrBlockNumber, 
                br
                | indexNumber
              td #[strong blockHashOrBlockNumber]: Hex or Number, 
                br
                | #[strong indexNumber]: Number
              td /eth_getTransactionByBlockNumberAndIndex/1522660/0
            tr
              td web3.eth.getTransactionCount(
                br
                | addressHexString 
                br
                | [, defaultBlock]
              td #[strong addressHexString]: Hex, 
                br
                | #[strong defaultBlock](Optional): Number
              td /eth_getTransactionCount/0xe3ec5ebd3e822c972d802a0ee4e0ec080b8237ba/1522934
            tr
              td web3.eth.sendRawTransaction(
                br
                | signedTransactionData
              td #[strong signedTransactionData]: 
                br
                | signed_tx.serialize().toString('hex')
                br
                | 280 bytes(hexadecimal)
              td /eth_sendRawTransaction/"Parameter:signedTransactionData"
            tr
              td web3.eth.getTransactionReceipt(
                br
                | transactionHash
              td #[strong transactionHash]: Hex
              td /eth_getTransactionReceipt/0xb3663023a01cc2862845d72bae657b5ef2f559c9982b3fcdfdbe840950fb6914
            tr
              td web3.eth.call(
                br
                | callObject [, defaultBlock]
              td callObject: 
                br
                | { #[strong addressHexString]: Hex, 
                br
                | #[strong data]: Hex }
              td /eth_call/0x5811590907050746b897efe65fea7b65710e1a2c/0xcdcd77c(0x63)45(0x63)1
            tr
              td web3.eth.getCode(
                br
                | addressHexString [, defaultBlock]
              td #[strong addressHexString]: Hex, 
                br
                | #[strong defaultBlock](Optional): Number
              td /eth_getCode/0x0146b9dcd9fb2abc1b5b136c28d20d0037526961
            tr
              td web3.eth.getStorageAt(
                br
                | addressHexString, 
                br
                | position 
                br
                | [, defaultBlock]
              td #[strong addressHexString]: Hex, 
                br
                | #[strong position]: Number
                br
                | #[strong defaultBlock](Optional): Number
              td /eth_getStorageAt/0x5811590907050746b897efe65fea7b65710e1a2c/0/1522934
            tr
              td web3.eth.getGasPrice
              td #[strong none]
              td /eth_gasPrice
            tr
              td web3.eth.estimateGas(
                br
                | callObject
              td callObject: 
                br
                | {#[strong addressHexString]: Hex, 
                br
                | #[strong value]: Number, 
                br
                | #[strong gasPrice]: Hex, 
                br
                | #[strong gas]: Hex}
              td /eth_estimateGas/0x5811590907050746b897efe65fea7b65710e1a2c/100/0x051da038cc/0xffffff
      #parity.tab-pane(role='tabpanel')
        h3 "Parity" Proxy APIs 중개 API 목록
        | ex) #[strong http://!{hostname}/api_parity/eth_blockNumber]
        table.table
          thead
            tr
              th Parameter
              th Example
          tbody
            tr
              td #[strong addressHexString]: Hex, 
                br
                | #[strong defaultBlock](Optional): Number
              td http://!{hostname}/api_parity/eth_getBalance/0x5811590907050746b897efe65fea7b65710e1a2c/1522934
            tr
              td none
              td http://!{hostname}/api_parity/eth_blockNumber
            tr
              td #[strong blockHashOrBlockNumber]: Hex or Number, 
                br
                | #[strong returnTransactionObjects]: true or false
              td http://!{hostname}/api_parity/eth_getBlockByNumber/1522660/false
                br
                | http://!{hostname}/api_parity/eth_getBlockByHash/0xdc19939dc468c85538f40acc5da4c5f806d93b8e5106b3619da19c78ddbf62b5/false
            tr
              td #[strong blockHashOrBlockNumber]: Hex or Number, 
                br
                | #[strong uncleNumber]: Number
              td http://!{hostname}/api_parity/eth_getUncleByBlockNumberAndIndex/1522579/0
            tr
              td #[strong blockHashOrBlockNumber]: Hex or Number
              td http://!{hostname}/api_parity/eth_getBlockTransactionCountByNumber/1522660
            tr
              td #[strong transactionHash]: Hex
              td http://!{hostname}/api_parity/eth_getTransactionByHash/0x6fd1bb5a71d16ad342ac9f8d86c299ce768eec0bafede55d7b7a9e82d816942a
            tr
              td #[strong blockHashOrBlockNumber]: Hex or Number, 
                br
                | #[strong indexNumber]: Number
              td http://!{hostname}/api_parity/eth_getTransactionByBlockNumberAndIndex/1522660/0
            tr
              td #[strong addressHexString]: Hex, 
                br
                | #[strong defaultBlock](Optional): Number
              td http://!{hostname}/api_parity/eth_getTransactionCount/0xe3ec5ebd3e822c972d802a0ee4e0ec080b8237ba/1522934
            tr
              td #[strong signedTransactionData]: 
                br
                | signed_tx.serialize().toString('hex')
                br
                | 280 bytes(hexadecimal)
              td http://!{hostname}/api_parity/eth_sendRawTransaction/"Parameter:signedTransactionData"
            tr
              td #[strong transactionHash]: Hex
              td http://!{hostname}/api_parity/eth_getTransactionReceipt/0xb3663023a01cc2862845d72bae657b5ef2f559c9982b3fcdfdbe840950fb6914
            tr
              td callObject: 
                br
                | { #[strong addressHexString]: Hex, 
                br
                | #[strong data]: Hex }
              td http://!{hostname}/api_parity/eth_call/0x5811590907050746b897efe65fea7b65710e1a2c/0xcdcd77c(0x63)45(0x63)1
            tr
              td #[strong addressHexString]: Hex, 
                br
                | #[strong defaultBlock](Optional): Number
              td http://!{hostname}/api_parity/eth_getCode/0x0146b9dcd9fb2abc1b5b136c28d20d0037526961
            tr
              td #[strong addressHexString]: Hex, 
                br
                | #[strong position]: Number
                br
                | #[strong defaultBlock](Optional): Number
              td http://!{hostname}/api_parity/eth_getStorageAt/0x5811590907050746b897efe65fea7b65710e1a2c/0/1522934
            tr
              td #[strong none]
              td http://!{hostname}/api_parity/eth_gasPrice
            tr
              td callObject: 
                br
                | {#[strong addressHexString]: Hex, 
                br
                | #[strong value]: Number, 
                br
                | #[strong gasPrice]: Hex, 
                br
                | #[strong gas]: Hex}
              td http://!{hostname}/api_parity/eth_estimateGas/0x5811590907050746b897efe65fea7b65710e1a2c/100/0x051da038cc/0xffffff
      #realtime.tab-pane(role='tabpanel')
        h3 Real-time response APIs 실시간 응답 API 목록
        | ex) #[strong http://!{hostname}/api_account/eth_balancemulti/0x5811590907050746b897efe65fea7b65710e1a2c,0xe3ec5ebd3e822c972d802a0ee4e0ec080b8237ba/1522934]
        table.table
          thead
            tr
              th Description
              th Parameter
              th Example
          tbody
            tr
              td Get ESN Supply
                br
                | Active, Total Accounts
                br
                | Total Supply
              td none
              td /esnsupply
            tr
              td Get ESN Balance 
                br
                | for multiple Addresses 
                br
                | in a single call
              td Comma-separated #[strong addresses]: Hex, Hex...
                br
                | #[strong defaultBlock](Optional): Number
              td /eth_balancemulti/0x5811590907050746b897efe65fea7b65710e1a2c,0xe3ec5ebd3e822c972d802a0ee4e0ec080b8237ba/1522934
            tr
              td Get Token Balance 
                br
                | all or specified token
                br
                | in a single call
              td #[strong address]: Hex
                br
                | #[strong contract addess](Optional): Hex
              td /tokenbalance/0x3e2c6a622c29cf30c04c9ed8ed1e985da8c95662/0x0146b9dcd9fb2abc1b5b136c28d20d0037526961
            tr
              td Get Token information
              td #[strong contract address]: Hex
              td /tokeninfo/0x0146b9dcd9fb2abc1b5b136c28d20d0037526961
            tr
              td Get Token Events 
                br
                | from Contract Address
                br
                | by Address
              td #[strong address]: Hex
                br
                | #[strong contract addess]: Hex
                br
                | #[strong count]: Number(default:10)
                br
                | #[strong page]: Number(default:1)
              td /tokenevents/0x3e2c6a622c29cf30c04c9ed8ed1e985da8c95662/0x0146b9dcd9fb2abc1b5b136c28d20d0037526961/10/1
            tr
              td Get Account Transactions
                br
                | by Address
              td #[strong address]: Hex
                br
                | #[strong page]: Number(min:1/max:65,000)
                br
                | #[strong count]: Number(min:1/max:1,000)
              td https://!{hostname}/account/transactions/0xe3ec5ebd3e822c972d802a0ee4e0ec080b8237ba/json/1/10
      #webtojson.tab-pane(role='tabpanel')
        h3 Web to Json 웹을 데이터로 제공하는 API 목록
        table.table
          thead
            tr
              th Webpage Address
              th JSON Returns
          tbody
            tr
              td http://!{hostname}/top100/json
              td #[strong activeAccounts]: String
                br
                | #[strong totalAccounts]: Number
                br
                | #[strong contract address]: no, address, eventcount, transfercount, name, decimals, symbol, totalSupply
                br
                | #[strong normal accounts]: address, type, balance, rank
                br
                | #[strong special accounts]: address, type, balance, rank
            tr
              td http://!{hostname}/top100/summary
              td #[strong TotalNumberOfAccounts]: Number
                br
                | #[strong ActiveNumberOfAccounts]: String
                br
                | #[strong TotalSupply]: String
                br
                | #[strong LongTermHoldingAmount]: String
                br
                | #[strong CirculatingSupply]: String
            tr
              td http://!{hostname}/api_info/summary/100(blockCount)
              td #[strong miners]: Miners Information
                br
                | #[strong name]: String
                br
                | #[strong value]: String
                br
                | #[strong address]: String
                br
                | #[strong hashrate]: String
            tr
              td http://!{hostname}/account/0x3e2c6a622c29cf30c04c9ed8ed1e985da8c95662/1657927/10(Count)/json
                br
                | http://!{hostname}/account/0x3e2c6a622c29cf30c04c9ed8ed1e985da8c95662/1657927/10(Count)/jsontxs
              td #[strong blocks]: Traces
                br
                | #[strong tokenBlocks]: events
                br
                | #[strong tokens]: contract address, balance, events, name, decimals, symbol, totalSupply
                br
                | #[strong nodeDataArray]: GoJS node data
                br
                | #[strong linkDataArray]: GoJS link data
            tr
              td http://!{hostname}/peers/parity
                br
                | http://!{hostname}/peers/addpeer
                br
                | http://!{hostname}/peers/gesn
                br
                | http://!{hostname}/peers/json
              td #[strong TextList]: for Parity's reserved_peers
                br
                | #[strong Command]: for GESN's Console
                br
                | #[strong Array]: for GESN's static-nodes.json
                br
                | #[strong JSON]: for Customize
