extends layout

block content
  h3 Recent blocks
  table.table
    thead
      tr
        th Number
        th Miner
        th Timestamp
        th # Tx
        th # Uncles
        th is in DB
    tbody
      for block in blocks
        tr
          td
            a(href="/block/" + block.number) #{block.number}
          td 
            a(href="/account/" + block.author) #{nameformatter.format(block.author)}
          td #{moment.unix(block.timestamp).format()}
          td #{block.transactionsCount}
          td #{block.unclesCount}
          td #{block.isDB}
