extends layout

block content
  h3 KRW Exchange List For LeeHyeJin
  table.table
    thead
      tr
        th(style="width: 95px;") CoinName
        th(style="width: 115px;") bit-z
        th(style="width: 115px;") cashierest
        th(style="width: 115px;") coinone
        th(style="width: 115px;")  bimax
        th korbit
        th 추가대기 1
        th 추가대기 2
        th 추가대기 3
    tbody
      tr
        td BTC
        td.text-right #{bitz.BTC}
        td.text-right #{cashierest.BTC}
        td.text-right #{coinone.BTC}
        td.text-right #{bimax.BTC}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td ETH
        td.text-right #{bitz.ETH}
        td.text-right #{cashierest.ETH}
        td.text-right #{coinone.ETH}
        td.text-right #{bimax.ETH}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td ETC
        td.text-right #{bitz.ETC}
        td.text-right &nbsp;
        td.text-right #{coinone.ETC}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td LTC
        td.text-right #{bitz.LTC}
        td.text-right &nbsp;
        td.text-right #{coinone.LTC}
        td.text-right #{bimax.LTC}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td EOS
        td.text-right #{bitz.EOS}
        td.text-right #{cashierest.EOS}
        td.text-right #{coinone.EOS}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td ESN
        td.text-right #{bitz.ESN}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right #{bimax.ESN}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td DASH
        td.text-right #{bitz.DASH}
        td.text-right #{cashierest.DASH}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td QTUM
        td.text-right #{bitz.QTUM}
        td.text-right &nbsp;
        td.text-right #{coinone.QTUM}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td TRX
        td.text-right #{bitz.TRX}
        td.text-right #{cashierest.TRX}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td INC
        td.text-right #{bitz.INC}
        td.text-right #{cashierest.INC}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td NPXS
        td.text-right #{bitz.NPXS}
        td.text-right #{cashierest.NPXS}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td TUSD
        td.text-right #{bitz.TUSD}
        td.text-right #{cashierest.TUSD}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
      tr
        td BCH
        td.text-right #{bitz.BCH}
        td.text-right #{cashierest.BCH}
        td.text-right #{coinone.BCH}
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
        td.text-right &nbsp;
