extends layout

block content
  h3 blockCount: #{blockCount}
  h3 lastBlock: #{lastBlock}
  h3 startBlock: #{startblock}
  h3 endBlock  : #{endblock}
  h3 avg. hashrate: #{hashrate}
  h3 avg. difficulty: #{difficulty}
  h3 avg. blockTime: #{blockTime}
  h3 prc. startTime: #{startTime}
  h3 prc. endTime: #{endTime}
  h3 consumptionTime: #{consumptionTime}
  h3 transactionsCount: #{transactionsCount}
  h3 dbBlock(Cache): #{dbBlock}