extends layout

block content
  h3 Ordinary address : Top 500!
  p 기준시간 : #{accounts_create_time}
  table.table
    thead
      tr
        th Rank
        th Address
        th Type
        th Balance
    tbody
      for account in accounts_normal
        tr
          td #{account.rank}
          td
            a(href="/account/" + account.address) #{account.address}
          td #{account.type}
          td(style="text-align: right;") #{account.balance}
  h3 Unordinary address list
  table.table
    thead
      tr
        th Rank
        th Address
        th Type
        th Balance
    tbody
      for account in accounts_special
        tr
          td #{account.rank}
          td
            a(href="/account/" + account.address) #{nameformatter.format(account.address)}
          td #{account.type}
          td(style="text-align: right;") #{account.balance}

