extends layout

block content
  h3 Supply summary 공급 요약
  p Total Create Accounts 전체계정수 : #{totalAccounts} (전체 생성)
  p Total Active Accounts 유효계정수 : #{activeAccounts} (보유량 0.00000001ESN 미만 제외)
  p Total Supply 전체발행량 : #{totalSupply}
  p Total Long-term holding 전체장기보유량 : #{specialSupply}
  p Total Circulating supply 전체유통공급량 : #{normalSupply}
  p Data update progress status 데이터 업데이트 진행 상태 : #{nowAccounts} / #{totalAccounts} ( #{perProgress}% )
  p Last Update Account 마지막 업데이트 계정 : #{lastAccount}
  p Data Generation Time 데이터 갱신시간 : #{accounts_create_time}
  div
    ul.nav.nav-tabs(role='tablist')
      if contracts
        li.active(role='presentation')
          a(href='#contracts', aria-controls='contracts', role='tab', data-toggle='tab') Contract address 컨트렉트 주소
      li(role='presentation')
        a(href='#accounts_special', aria-controls='accounts_special', role='tab', data-toggle='tab') Long-term holding address 장기 보유 주소
      li(role='presentation')
        a(href='#accounts_normal', aria-controls='accounts_normal', role='tab', data-toggle='tab') Circulating Supply address 공급되어 유통중인 주소
  .tab-content
    if contracts
      #contracts.tab-pane.active(role='tabpanel')
        h3 Contract address list 컨트렉트 주소
        .divTable.top100
          .divTableHeading
            .divTableRow
              .divTableHead No
              .divTableHead Address
              .divTableHead Name
              //.divTableHead TotalSupply
              .divTableHead Symbol
              .divTableHead Decimals
              .divTableHead Events
              .divTableHead Transfer
          .divTableBody
            for account in contracts
              .divTableRow
                .divTableCell #{account.no}
                .divTableCell
                  a(href="/account/" + account.address) #{account.address}
                .divTableCell #{account.name}
                //.divTableCell #{tokenformatter.format(account.totalSupply, account.decimals, '')}
                .divTableCell #{account.symbol}
                .divTableCell #{account.decimals}
                .divTableCell #{account.eventcount}
                .divTableCell
                  if account.transfercount
                    | #{account.transfercount}
                  else
                    | 0
    #accounts_special.tab-pane(role='tabpanel')
      h3 Long-term holding address list 장기 보유 주소 목록
      .divTable.top100
        .divTableHeading
          .divTableRow
            .divTableHead Rank
            .divTableHead Address
            .divTableHead Type
            .divTableHead Balance
        .divTableBody
          for account in accounts_special
            .divTableRow
              .divTableCell #{account.rank}
              .divTableCell
                if account.address_name
                  a(href="/account/" + account.address) #{account.address_name}
                  br
                a(href="/account/" + account.address) #{account.address}
              .divTableCell #{account.type}
              .divTableCell #{account.balance}
    #accounts_normal.tab-pane(role='tabpanel')
      h3 Circulating Supply address list 공급되어 유통중인 주소 목록
      .divTable.top100
        .divTableHeading
          .divTableRow
            .divTableHead Rank
            .divTableHead Address
            .divTableHead Type
            .divTableHead Balance
        .divTableBody
          for account in accounts_normal
            .divTableRow
              .divTableCell #{account.rank}
              .divTableCell
                if account.address_name
                  a(href="/account/" + account.address) #{account.address_name}
                  br
                a(href="/account/" + account.address) #{account.address}
                if !account.address_name
                  br
                  | &nbsp;
              .divTableCell #{account.type}
              .divTableCell #{account.balance}
