extends layout

block content
  h3 Unknown address list 알려지지 않은 주소
  p Generation Time 갱신시간 : #{accounts_create_time}
  //p Last Account 마지막계정 : #{lastAccount}
  p Total Create Accounts 전체계정수 : #{totalAccounts} (전체 생성)
  p Total Active Accounts 유효계정수 : #{activeAccounts} (보유량 0.00000001ESN 미만 제외)
  p Total Supply 전체발행량 : #{totalSupply}
  .divTable.top100
    .divTableHeading
      .divTableRow
        .divTableHead Rank
        .divTableHead Address
        .divTableHead Type
        .divTableHead Balance
    .divTableBody
      for account in accounts_normal
        .divTableRow
          .divTableCell #{account.rank}
          .divTableCell
            if account.address_name
              a(href="/account/" + account.address) #{account.address_name}
              br
            a(href="/account/" + account.address) #{account.address}
            if !account.address_name
              br
              | &nbsp;
          .divTableCell #{account.type}
          .divTableCell #{account.balance}
  h3 Known address list 알려진 주소
  .divTable.top100
    .divTableHeading
      .divTableRow
        .divTableHead Rank
        .divTableHead Address
        .divTableHead Type
        .divTableHead Balance
    .divTableBody
      for account in accounts_special
        .divTableRow
          .divTableCell #{account.rank}
          .divTableCell
            a(href="/account/" + account.address) #{nameformatter.format(account.address)}
            br
            a(href="/account/" + account.address) #{account.address}
          .divTableCell #{account.type}
          .divTableCell #{account.balance}

